/* Pallet: https://colors.muz.li/palette/361d32/543c52/f55951/edd2cb/f1e8e6 */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: #ccc;
}

::-webkit-scrollbar-thumb:hover{
    border-radius: 5px;
    background-color: #ccccccb1;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
    150deg, #edd2cb 0%, #edd2cb 50%, #956a92 50%, #956a92 100%);
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

h1{
    text-align: center;
    margin: 50px auto 50px;
    display: none;
    font-size: 40px;
    color: #000;
}

.container{
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 350px;
    width: 350px;
    margin: 10px;
}

textarea, .box #result{
    width: 100%;
    height: 500px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #543c5290;
    border-radius: 10px;
    background-color: #543c52;
    font-size: 16px;
    resize: none;
    color: #edd2cb;
    outline: none;
    box-shadow: #edd2cb;
}

.box{
    position: relative;
}

.copy{
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #d5c3d4;
}

.copy .icon:hover::after{
    content: attr(data-tooltip);
}

.copy .icon:hover{
    color: #c0a5be;
}

.copy .icon:active{
    color: #956a92;
}

.box #result{
    background-color: #361d32;
    overflow-y: scroll;
}

.box-btn button{
    min-width: 350px;
    height: 50px;
    font-size: large;
    background-color: #f55951;
    border: none;
    border-radius: 10px;
    outline: inherit;
    color: #edd2cb;
    font-weight: 800;
}

.box-btn button:hover{
    background-color: #f5595190;
}

.box-btn button:active{
    background-color: #f5595180;
}

footer{
    margin: 40px;
}

.result-text:hover{
    background-color: #543c52;
}

img{
    width: 30px;
    height: auto;
}

@media(max-width:700px){
    .container{
        display: flex;
        flex-direction: column;
    }
    body{
        display: flex;
        flex-wrap: wrap;
        background: linear-gradient(#edd2cb 0%, #edd2cb 50%, #956a92 50%, #956a92 100%);
    }
    button{
        min-width: 260px;
        width: 100%;
    }
    main{
        margin-left: 20px;
        margin-right: 20px;
    }
    .box{
        width: 100%;
        min-width: 100%;
    }
    footer{
        text-align: center;
        width: 100%;
        opacity: 0.5;
    }
    .ribbon{
        display: none;
    }
    .ribbon-content{
        display: none;
    }
    h1{
        display: block;
    }
}